.contributors
  display: flex
  gap: 50px
  flex-wrap: wrap
  padding-bottom: 20px
  .card
    width: max-content
    padding: 15px 25px
    height: max-content
    h2
      text-align: center
      margin: 10px 0 20px 0
      img
        width: 40px
        border-radius: 10px
      a
        margin-left: 3px
        font-weight: 500
      img, a
        vertical-align: middle
    .contribution
      margin-bottom: 7px
      font-size: 18px
