header
  #menuIcon
    display: none
h1
  text-align: center
  margin: 70px 0 20px 0
  font-size: 40px

main
  margin: 0 100px

.projects
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  .cardContainer
    margin-top: 50px
    width: min-content
    display: inline-block
    vertical-align: top
    .btn
      text-transform: capitalize
      margin: auto
    .card
      height: 250px
      img
        height: 100%
        border-radius: 8px
    p
      margin: 35px 0 15px 0
      text-align: center
      opacity: 90%

@media only screen and (max-width: 1060px)
  main
    margin: 0 20px
  .projects .cardContainer .card
    height: 43vw
    margin-right: 0
    margin-left: -13px
@media only screen and (max-width: 500px)
  header
    #menuIcon
      display: flex
      color: var(--text-color)
      fill: currentColor
    .right a
      color: var(--cta-normal-color)
      font-weight: 600
      &:not(:last-of-type)::after
        content: ""
        color: var(--text-color)
        font-weight: bolder
        pointer-events: none
    .right
      display: none
      a
        break-after: always
