<main id="about">
  <div class="left">
    <h1>ℹ À propos</h1>
    <p>
      {% trans %}I Learned est un projet visant à rendre accessible au plus
      grand nombre l’informatique au travers de mediums diversifiés. I Learned
      compte à ce jour 14 contributeur·ices !{% endtrans %}
    </p>
    <a href="#projects" class="btn btn-primary"
      >👉 {% trans %}Les projets{% endtrans %}</a
    >
    <div class="socials">
      <a href="https://discord.ilearned.eu" class="btn btn-secondary social"
        ><img src="static/img/discord.webp" alt="Discord logo"
      /></a>
      <a
        href="{% trans %}https://toot.gnous.eu/@ilearned{% endtrans %}"
        class="btn btn-secondary social"
        ><img src="static/img/mastodon.webp" alt="Mastodon logo"
      /></a>
      <a
        href="{% trans %}https://twitter.com/ilearned_eu{% endtrans %}"
        class="btn btn-secondary social"
        ><img src="static/img/twitter.webp" alt="Twitter logo"
      /></a>
    </div>
  </div>
  <div class="right">
    <div class="illus"></div>
  </div>
</main>
