<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdn.ilearned.eu/css/base.min.css" />
    <link rel="stylesheet" href="/static/sass/contributors.min.css" />
    <link rel="shortcut icon" href="/static/img/logo.svg" />
    <link rel="shortcut icon" href="/static/img/logo.png" />
    <title>I Learned</title>
  </head>
  <body>
    <header>
      <div class="left">
        <img src="static/img/logo.svg" alt="Logo de I Learned" />
        <h2>I Learned</h2>
      </div>
      <div class="right">
        <a href="/">💭 À Propos</a>
        <a href="projects.html">🚧 Projets</a>
        <a href="contributors.html">👥 Contributeur·ices</a>
      </div>
    </header>
    <main>
      <h1>👥 Contributeur·ices</h1>
      <div class="contributors">
        {% for contribution in contributions %}
        <div class="cardContainer">
          <div class="card">
            <h2>{{contributions[contribution].name}}</h2>
            <div class="contributorsContainer">
              {% for contributor in
              contributions[contribution].contributors.split(', ') %}
              <div class="contributor">
                <img
                  src="{{ contributors[contributor].image }}"
                  alt="Image de profile de {{contributions[contribution].name}}"
                />
                <a href="{{ contributors[contributor].uri }}"
                  >{{ contributor }}</a
                >
              </div>
              {% endfor %}
            </div>
          </div>
          <a
            href="{{ contributions[contribution].uri }}"
            class="btn btn-primary"
            >👉 Contribuer</a
          >
        </div>
        {% endfor %}
      </div>
    </main>
  </body>
</html>
