<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdn.ilearned.eu/css/base.min.css" />
    <link rel="stylesheet" href="static/css/contributors.css" />
    <link rel="shortcut icon" href="static/img/logo.svg" />
    <link rel="shortcut icon" href="static/img/logo.png" />
    <title>I Learned</title>
  </head>
  <body>
    <header>
      <svg alt="Icone du menu" onclick="openMenu()" id="menuIcon" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="m21 17c.5522847 0 1 .4477153 1 1s-.4477153 1-1 1h-18c-.55228475 0-1-.4477153-1-1s.44771525-1 1-1zm0-6c.5522847 0 1 .4477153 1 1s-.4477153 1-1 1h-18c-.55228475 0-1-.4477153-1-1s.44771525-1 1-1zm0-6c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1h-18c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1z"
          fill-rule="evenodd" />
      </svg>
      <a href="/">
        <div class="left">
          <img src="static/img/logo.svg" alt="Logo de I Learned" />
          <h2>I Learned</h2>
        </div>
      </a>
      <div class="right" id="right">
        <a href="/">💭 À Propos</a>
        <a href="projects.html">🚧 Projets</a>
        <a href="contributors.html">👥 Contributeur·ices</a>
      </div>
    </header>
    <main>
      <h1>👥 Contributeur·ices</h1>
      <div class="contributors">
        {% for contribution in contributions %}
        <div class="cardContainer">
          <div class="card">
            <h2>{{contributions[contribution].name}}</h2>
            <div class="contributorsContainer">
              {% for contributor in
              contributions[contribution].contributors.split(', ') %}
              <div class="contributor">
                <img
                  src="{{ contributors[contributor].image }}"
                  alt="Image de profile de {{contributions[contribution].name}}"
                />
                <a href="{{ contributors[contributor].uri }}"
                  >{{ contributor }}</a
                >
              </div>
              {% endfor %}
            </div>
          </div>
          <a
            href="{{ contributions[contribution].uri }}"
            class="btn btn-primary"
            >👉 Contribuer</a
          >
        </div>
        {% endfor %}
      </div>
    </main>
  </body>
  <script src="static/js/menu.js" charset="utf-8"></script>

</html>
