<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://cdn.ilearned.eu/css/base.min.css" />
  <link rel="stylesheet" href="static/css/index.css" />
  <link rel="stylesheet" href="static/css/projects.css" />
  <link rel="stylesheet" href="static/css/contributors.css" />
  <link rel="shortcut icon" href="static/img/logo.svg" />
  <link rel="shortcut icon" href="static/img/logo.png" />
  <meta
    name="keywords"
    content="developpeur, networking, réseau, today I learned, developper, infosec, hacking, pentest, pentesting, blog, privacy, vie privée, github"
  />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="I Learned" />
  <meta property="og:image:width" content="1000" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta charset="UTF-8" />
  <meta
    property="og:description"
    content="I Learned est un projet visant à rendre accessible au plus grand nombre l’informatique au travers de mediums diversifiés. I Learned compte à ce jour 14 contributeur·ices !"
  />
  <meta
    property="description"
    content="I Learned est un projet visant à rendre accessible au plus grand nombre l’informatique au travers de mediums diversifiés. I Learned compte à ce jour 14 contributeur·ices !"
  />
  <meta property="og:url" content="https://ilearned.eu/" />
  <meta property="og:image" content="/static/img/illus.png" />
  <meta property="og:locale" content="fr_FR" />
  <title>I Learned</title>
</head>
